.search-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin-left: 8px;
  flex: 1;
}

.search-input-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 4px;
  min-width: 500px;
}
